<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,500&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap" rel="stylesheet">
  <title>Employee Payroll App</title>
</head>
<body>
  <header class="header-content header">
    <div class="logo-content">
      <img src="./assets/images/logo.png" alt="logo">
      <div>
        <span class="emp-text">EMPLOYEE</span><br>
        <span class="emp-text emp-payroll">PAYROLL</span>
      </div>
    </div>
  </header>
  <div class="main-content">
    <div class="header-content employee-header">
      <div class="emp-detail-text">
        Employee Details
        <div class="emp-count">10</div>
      </div>
      <a class="add-button"  routerLink="/login" onclick="onSubmit()">
        <!-- <img src="./assets/icons/plus_symbol.svg" alt=""> -->
        Add User
      </a>
      </div>
      <div class="table-main">
        <table id="display" class="table">
            <tr>
             <th>EmployeeId</th>
                <th>Name</th>
                <th>Gender</th>
                <th>profilePic</th>
                <!-- <th>Department</th> -->
                <th>Salary</th>
                <!-- <th>StartDate</th> -->
                <th>Note</th>
                <th>EmailId</th>
                <th>password</th>
                <th>Actions</th>
            </tr>
           <tr *ngFor="let employee of allEmployeeData">
                    <td>{{employee.employeeId}}</td>
                    <td>{{employee.name }}</td>
                    <td>{{employee.gender }}</td>
                    <td>
                      <img class="profile" src={{employee.profilePic}} alt="">
                  </td>
                    <!-- <td> -->
                        <!-- <div class="dept-label">
                            {{employee.departments}}
                        </div> -->
                    <!-- </td> -->
                    <td> {{employee.salary }}</td>
                    <!-- <td>{{employee.startDate | date : 'dd MMMM yyyy'}}</td> -->
                    <td>{{employee.note}}</td>
                    <td>{{employee.emailId}}</td>
                      <td>{{employee.password}}</td>
    
                    <td>
                <img id="1"(click)=" deleteRecord(employee.employeeId)" onclick="remove(this)" alt="delete" src="../assets/icons/delete-black-18dp.svg">
                    <img id="1" alt="edit" src="../assets/icons/create-black-18dp.svg"  routerLink="/update/{{employee.employeeId}}1">
                </td>
            </tr>
        </table>
    </div>
  </div>
  </body>
</html>