<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Employee Input Form</title>
</head>
<body>
    <div class="form-content">
        <form class="form" action="#" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
<div class="form-head">Employee Payroll Form</div>
            <div class="row-content">
    <label for="name" class="label text">Name</label>
    <input type="text" name="name" id="name" class="input required" placeholder="Your Name ..." 
        autocomplete="off" required formControlName="name" ><br> <br>
        <!-- <br><span class="validate" *ngIf="name && name.invalid && name.touched "> The given name is invalid It should start with capital letter.</span> -->
     <!-- <error-output class="text-error" for="text"></error-output>  -->
 </div>

 <div class="row-content">
    <label for="emailId" class="label text">emailId</label>
    <input type="text" name="emailId" id="emailId" class="input required" placeholder="Your emailId ..."  formControlName="emailId">
 </div>

 <div class="row-content">
    <label for="password" class="label text">password</label>
    <input type="text" name="password" id="password" class="input required" placeholder="Your password..." formControlName="password">
 </div>
<div class="row-content">
        <label class="label text" for="profile">Profile image</label>
        <div class="profile-radio-content">
            <label>
                <input type="radio" id="profile2" name="profile" formControlName="profilePic"
                    value="./assets/profile-images/Ellipse -1.png"  >
                <img class="profile" id="image1" src="./assets/profile-images/Ellipse -1.png">
            </label>
            <label>
                <input type="radio" id="profile2" name="profile"  formControlName="profilePic"
                    value="./assets/profile-images/Ellipse -2.png" >
                <img class="profile" id="image2" src="./assets/profile-images/Ellipse -2.png">
            </label>
            <label>
                <input type="radio" id="profile3" name="profile" formControlName="profilePic"
                    value="./assets/profile-images/Ellipse -9.png" > 
                <img class="profile" id="image3" src="./assets/profile-images/Ellipse -9.png">
            </label>
            <label>
                <input type="radio" id="profile4" name="profile" formControlName="profilePic" 
                    value="../assets/profile-images/Ellipse -4.png" >
                <img class="profile" id="image4" src="../assets/profile-images/Ellipse -4.png">
            </label>
        </div> 
     </div>
    <div class="row-content" >
        <label class="label text" for="gender">Gender</label>
        <div >
            
            <input type="radio" id="male" name="gender" value="Male" formControlName="gender">
            <label class="text" for="male">Male</label>
            
            <input type="radio" id="female" name="gender" value="Female"formControlName="gender" >
            <label class="text" for="female">Female</label>
        </div>
        <span class="gender" *ngIf="!loginForm.controls['gender'].valid ">"This field is mandatory." </span>
    </div>
    <!-- <div class="row-content">
        <label class="label text" for="department">Department</label>
        
        <div *ngFor="let department of departmentList;let i=index">
            <mat-checkbox #checkbox class="checkbox" type="checkbox" color="primary" [value]="department.value" [checked]='department.checked' formControlName="department" >
                <label class="text">{{department.name}}</label>
            </mat-checkbox>
        </div>

    </div> -->
    <div class="row-content">
        <label class="label text" for="salary">Choose Your Salary: </label>
        <input class="input required" type="range" name="salary" id="salary" min="300000" max="500000" formControlName="salary"
            step="100" value="400000">
        <output class="salary-output text" for="salary">400000</output>
    </div>
   
            <div class="row-content">
                <label class="label text" for="notes">Notes</label>
                <textarea id="notes" class="input required" name="notes" placeholder="" style="height:100px" formControlName="note"></textarea>
                <!-- <span class="notes" *ngIf="notes && notes.invalid "> The note field is required,And it should contain minimum of 5 character.</span> -->
            </div>

            <div class="buttonParent">
                <a href="./home.html" class="resetButton button cancelButton" routerLink="/dashboard" >Cancel</a>
                <div class="submit-reset">
                    <button type="button" class="button submitButton" id="submitButton" routerLink="/dashboard">Update</button>
                    <button type="button" class="resetButton button" >Reset</button>
                </div>
            </div>
         </form>
    </div>
</body>
</html>
<!-- [disabled]="!loginForm.valid" -->